<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkw.eduservice.mapper.EduCourseMapper">

    <resultMap id="BaseResultMap" type="com.lkw.eduservice.entity.EduCourse">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="CHAR"/>
            <result property="subjectId" column="subject_id" jdbcType="CHAR"/>
            <result property="subjectParentId" column="subject_parent_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="lessonNum" column="lesson_num" jdbcType="OTHER"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="buyCount" column="buy_count" jdbcType="BIGINT"/>
            <result property="viewCount" column="view_count" jdbcType="BIGINT"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacher_id,subject_id,
        subject_parent_id,title,price,
        lesson_num,cover,buy_count,
        view_count,version,status,
        is_deleted,gmt_create,gmt_modified
    </sql>
    <select id="getPublishCourseInfo" resultType="com.lkw.eduservice.entity.vo.CoursePublishVo">/*方法名,返回值类型*//*resultMap也是定义*/
    SELECT ec.id,ec.title,ec.price,ec.lesson_num AS lessonNum,ec.cover,
           et.`name` AS teacherName,
           es1.title AS subjectLevelOne,
           es2.title AS subjectLevelTwo
    from edu_course ec LEFT OUTER JOIN edu_course_description ecd ON ec.id=ecd.id
                       LEFT OUTER JOIN edu_teacher et ON ec.teacher_id=et.id
                       LEFT OUTER JOIN edu_subject es1 ON ec.subject_parent_id=es1.id
                       LEFT OUTER JOIN edu_subject es2 ON ec.subject_id=es2.id
    WHERE ec.id=#{courseId}
    </select>
</mapper>
